<h1>Team</h1>
<p>Jason Johnson is a photographer and entrepreneur, a self starter through and through.</p>
</p>Jason hopes to use his skills to change careers towards computer science and programming as well as start his own business<p>